body, html{
  height: 100%;
  background-color: rgb(31, 31, 31);
  color: rgb(212, 212, 212);
}
input{
  color: white;
  width: 90%;
  padding: 10px;
  background-color: rgb(65, 65, 65);
  border: 2px solid rgb(76, 76, 76);
  outline: none;
}
span{
  color: white;
}